[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
ipython = "*"
gunicorn = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
requests = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.6"
